@font-face {
  font-family: 'PIXEL';
  src: url('../font/NeoDunggeunmoPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Windows 95';
  src: url('font/w-95-sans-serif.woff2') format('woff2'), url('../font/w-95-sans-serif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100dvh;
  overflow: hidden;

  backdrop-filter: blur(4px);
  user-select: none;
  margin: 0px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

/* .start-gif {
  height: 100%;
  width: 100%;
}

#start-gif__content {
  z-index: 1000;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.3s ease-out;
  bottom: 0;
} */

.start-gif {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}
#start-gif__content {
  display: none;
}

@keyframes textAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
.start-gif__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 100;
}

.start-gif__text {
  font-family: 'PIXEL';
  font-weight: 900;
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  z-index: 100;
  animation: textAnimation 2s infinite;
}

.remove {
  visibility: hidden;
  opacity: 0;
}
.container {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98%;
  /* font-family: 'Windows 95'; */
  font-family: 'PIXEL';
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

.background-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* filter: blur(2px); */
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.3;
  width: 100%;
}

.title {
  width: 100%;
  height: 90%;
  /* background: #2e2e2e; */
  padding: 15px;
  letter-spacing: 3px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  /* box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff1f, */
  /* inset 0px -5px #00000030; */

  font-size: xx-large;
}

/* navbar */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.3;
  width: 90%;
}

.navbar {
  flex: 2;
  align-items: flex-end;
  justify-content: center;
  background: #2e2e2ece;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff1f,
    inset 0px -5px #00000030;
}

.navbar-center {
  width: 60%;
  justify-content: flex-end;
  margin: 0px; /* 위, 아래, 왼쪽, 오른쪽에 10px의 패딩을 설정합니다. */
}

.menu-horizontal li {
  margin-right: 10px; /*  Members, Board, Sign Up 간격 조정 */
}

.introduce {
  flex: 8;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;
  text-align: center;
}

#test {
  width: 100%;
  height: 100%;
  display: grid; /* 그리드 컨테이너로 설정 */
  grid-template-columns: repeat(2, 1fr); /* 열을 2개로 설정 */
  justify-items: center; /* 아이템들을 가운데로 정렬 */
  align-items: center;
}

/* NAV - 동훈 */

.navbar {
  display: flex;
  color: #fcfcfc;
  align-items: center;
}

.nav-left {
  flex: 5;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
}

.nav-right {
  flex: 5;
  justify-content: space-evenly;
}

.neon {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 8px;
  color: #00aaff;
  text-shadow: 1px 0px 2px #00aaff, 2px 0px 2px #00aaff, 3px 0px 2px #00aaff, 2px 0px 1px #0077cc, 2px 1px 5px #0077cc, 2px 0px 5px, 5px 0px 25px,
    10px 0vw 50px #0077cc, 20px 0vw 50px #0077cc;
}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

.nav_item {
  color: #808080;
  transition: all 300ms ease-in-out;
}

.nav_item:hover {
  cursor: pointer;
  color: #ffd5ff;

  text-shadow: 1px 0px 4px #ffd5ff, 2px 0px 4px #ffd5ff, 3px 0px 4px #ffd5ff, 2px 0px 3px #d42cca, 2px 3px 15px #d42cca, 2px 0px 15px, 5px 0px 25px,
    20px 0vw 50px #d42cca, 40px 0vw 50px #d42cca;
}

.test_area {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.test1 {
  width: 200px;
  height: 200px;
}

.test2 {
  width: 200px;
  height: 200px;
}

.test3 {
  width: 200px;
  height: 200px;
}

.test4 {
  width: 200px;
  height: 200px;
}

.test {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: first baseline; */
}

.img_area {
  display: flex;
  justify-content: center;
  align-items: first baseline;
}

.charactor {
  height: 120px;
}

.charactor_name {
  height: 90px;
}

.ox_score {
  margin-top: 5%;
  padding: 3% 0%;
  background: #2e2e2ece;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff1f,
    inset 0px -5px #00000030;
  letter-spacing: 3px;
  font-size: large;
}

.ox_quiz_score_complete {
  color: #00ff00;
  text-shadow: 1px 0px 1px #00ff00, 1px 0px 1px #00ff00, 1px 0px 1px #00ff00, 1px 0px 1px #00cc00, 1px 1px 1px #00cc00, 1px 0px 1px, 1px 0px 1px,
    1px 0vw 1px #00cc00, 1px 0vw 1px #00cc00;
}

.ox_quiz_score_ing {
  color: #ffff00;
  text-shadow: 1px 0px 1px #ffff00, 1px 0px 1px #ffff00, 1px 0px 1px #ffff00, 1px 0px 1px #cccc00, 1px 1px 1px #cccc00, 1px 0px 1px, 1px 0px 1px,
    1px 0vw 1px #cccc00, 1px 0vw 1px #cccc00;
}

.ox_quiz_score_not_start {
  color: #ff0000;
  text-shadow: 1px 0px 1px #ff0000, 1px 0px 1px #ff0000, 1px 0px 1px #ff0000, 1px 0px 1px #cc0000, 1px 1px 1px #cc0000, 1px 0px 1px, 1px 0px 1px,
    1px 0vw 1px #cc0000, 1px 0vw 1px #cc0000;
}

.help_tooltip {
  font-family: 'PIXEL';
  position: absolute;
  top: 48%;
  left: 53%;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 0, 0.727);
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff1f,
    inset 0px -5px #00000030;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  animation: jumpAnimation 1s infinite;
}

.help_tooltip:hover {
  width: 350px;
  height: 100px;
  animation: none;
}

.help_tooltip:hover .help_2 {
  display: block;
}

.help_tooltip:hover .help_1 {
  display: none;
}

.help_2 {
  display: none;
  font-size: 1rem;
  transition: all 1s ease-in-out;
}

@keyframes jumpAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Board */

.board {
  position: absolute;
  top: 10%;
  left: 68%;

  width: 200px;
  height: 200px;
}

.board_img {
  width: 100%;
  height: 100%;
}
/* MODAL */

.why_modal {
  display: none;
  font-family: 'PIXEL';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.why_modal-content {
  background-color: #fefefe;
  /* padding: 20px; */
  border: 0;
  width: 40%;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.why_modal_top {
  background-color: #1d4ed8;
  padding: 4px 12px;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.why_modal_bottom {
  padding: 5%;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal_bottom_text {
  text-align: center;
  margin-bottom: 2%;
}

.why_modal_title {
  padding: 6px 12px;
  font-size: x-large;
  letter-spacing: 5px;
  color: #ffffff;
}

/* 모달 닫기 버튼 스타일 */
.why_close {
  color: #aaa;
  position: absolute;
  top: 4px;
  right: 10px;
  font-size: 40px;
  font-weight: bold;
}

.why_close:hover,
.why_close:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

.modal_bottom_img_area {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 2%;
}

.modal_bottom_btn_area {
  display: flex;
  justify-content: center;
}

.modal_bottom_btn_yes {
  width: 30%;
  background-color: #0077cc;
  color: black;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36;
  margin-right: 2%;
  transition: all 200ms ease-in;
}

.modal_bottom_btn_no {
  width: 30%;
  background-color: #ff0000;
  color: black;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36;
  margin-left: 2%;
  transition: all 200ms ease-in;
}

.modal_bottom_btn_yes:hover {
  color: #fcfcfc;
  cursor: pointer;
}

.modal_bottom_btn_no:hover {
  color: #fcfcfc;
  cursor: pointer;
}

/* board modal */

.modal_bottom_btn_board {
  flex: 4.75;
  color: black;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36;
  transition: all 200ms ease-in;
  padding: 15% 5%;
  background: rgba(175, 175, 175, 1);
  color: rgba(100, 100, 100, 1);
  letter-spacing: 3px;
  font-size: x-large;
}

.modal_divider {
  flex: 0.5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0% 2%;
}

.modal_divider_line {
  width: 15%;
  height: 100%;
  background-color: #808080;
}

.modal_bottom_btn_signup {
  flex: 4.75;
  color: black;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36;
  transition: all 200ms ease-in;
  padding: 15% 5%;
  background: rgba(175, 175, 175, 1);
  color: rgba(100, 100, 100, 1);
  letter-spacing: 3px;
  font-size: x-large;
}

.modal_bottom_btn_board:hover,
.modal_bottom_btn_signup:hover {
  background-color: rgb(217, 60, 71);
  color: #fcfcfc;
}

/* .modal_bottom_btn_board:active,
.modal_bottom_btn_signup:active {

  background-color: rgb(217, 60, 71);
  color: #fcfcfc;
} */

@keyframes 🚀 {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -48rem;
  }
}

/* PENGUIN */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(231, 251, 253);
  font-family: sans-serif;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 90%;
  overflow: hidden;
  cursor: pointer;
}

.penguin_wrapper {
  position: absolute;
  width: 96px;
  height: 96px;
  overflow: hidden;
  transition: 0.5s;
}

.test_area {
  width: 100%;
  justify-content: center;
}

.test {
  margin: 0% 2.5% 0% 2.5%;
}

svg {
  display: block;
}

.penguin_wrapper svg {
  fill: navy;
}

.penguin_inner_wrapper {
  height: 100%;
  width: 100%;
  transition: 0;
}

.facing_upleft,
.facing_left,
.facing_downleft {
  transform: scale(-1, 1);
}

.penguin_sprite {
  position: absolute;
  height: calc(6 * 96px);
  width: calc(8 * 96px);
  pointer-events: none;
}

.penguin_sprite img {
  height: 100%;
  width: 100%;
  display: block;
}

.hit_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.hit_area {
  height: 50px;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
}

.sign {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: navy;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: navy;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.foot_print {
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: -10;
  image-rendering: pixelated;
  background-size: 30px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAHlJREFUSEtjZBggwDhA9jKMWky3kB8N6oEP6tkv//0HuSJVnIkm0YHTULpbDLMQPcyp7XMMHw86i2EhQC2fE+1jmlsMs4DWQU4wVdMqkRHMo+g+p1kco/twwCymVRlKMKhHLaZWCIwGNbVCkqA5o0FNMIiopWDkBTUAjfAoH+hhPScAAAAASUVORK5CYII=);
  animation: forwards fade 10s;
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade_lighter {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.jump_print {
  height: 32px;
  width: 36px;
  position: absolute;
  z-index: -10;
  image-rendering: pixelated;
  background-size: 36px 32px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAgCAYAAAB6kdqOAAAAAXNSR0IArs4c6QAAAK1JREFUWEftl8ENgCAMRWEKJ3QqJ3QKiAc81NTWT4AfU6+KvL4WCjmRPZmMJ8FAx1nKWzD7lqF/Q4MukOVAFoCVeq8xt6HlQL0AqDHVEA3QaBBpTtbWw1AAif2K19DsVGm1dBsKIKGorbYwpO3gYcjb23hrqEUwe/lHL/PWTvuOt5fJSEbXknbG5j8xajnvNfa/W4e1OixjXiNyHve97GvRTweyDKLvYUPohNa4Cm6ZcCHJb/u+AAAAAElFTkSuQmCC);
  animation: forwards fade_lighter 10s;
}

.star {
  position: absolute;
  width: 16px;
  height: 16px;
  overflow: hidden;
  z-index: 20;
}

.star_sprite {
  position: absolute;
  height: 100%;
  width: calc(4 * 16px);
  pointer-events: none;
}

.star svg {
  fill: rgb(148, 234, 255);
}

.star.twinkle {
  animation: infinite twinkle 1s;
}

@keyframes twinkle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* mouse click animation */

div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #00aaff;
  border-radius: 50%;
  animation: clickEffect 0.4s ease-out;
  z-index: 99999;
}

@keyframes clickEffect {
  0% {
    opacity: 1;
    width: 0.1em;
    height: 0.1em;
    margin: -0.05em;
    border-width: 1em;
  }
  100% {
    opacity: 0.2;
    width: 5em;
    height: 5em;
    margin: -2.5em;
    border-width: 0.03em;
  }
}

/* 반응형 */
@media (max-width: 1024px) {
  .nav_item {
    font-size: x-large;
  }

  .board {
    left: 75%;
  }
}

@media (max-width: 768px) {
  .neon {
    font-size: xx-large;
  }

  .nav_item {
    font-size: large;
  }

  .charactor {
    height: 100px;
  }
  .board {
    left: 46%;
  }
}

@media (max-width: 600px) {
  .neon {
    font-size: xx-large;
  }

  .nav_item {
    font-size: medium;
  }

  .charactor {
    height: 90px;
  }
}

@media (max-width: 550px) {
  .neon {
    font-size: x-large;
  }

  .nav_item {
    font-size: small;
  }

  .charactor {
    height: 75px;
  }

  .charactor_name {
    height: 60px;
  }

  .ox_score {
    font-size: small;
  }
}

/* snow */

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}
