@font-face {
    font-family: 'PIXEL';
    src: url('../font/NeoDunggeunmoPro-Regular.ttf') format('truetype');
}

.audio_player {
    /* 페이지 별로 설정 */
    position: absolute;
    top: 1%;
    left: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 13rem;
    height: 6rem;

    z-index: 100;

    color: black;
    background-color: beige;

    transition: height 0.5s;
    overflow: hidden;
}
.audio_player * {
    font-family: 'PIXEL';
}
.audio_player:hover {
    height: 16rem;
}

.audio_player_image_and_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
}
.audio_player:hover .audio_player_image_and_title {
    flex-direction: column;
    justify-content: space-around;
}

.audio_player_lp {
    position: relative;
    margin: 1rem;
    border: 1px solid black;
    background-color: red; 
}

.audio_player_image {
    position: relative;
    display: flex;

    width: 4rem;
    height: 4rem;

    border: 1px solid black;

    margin: 0.3rem;
    overflow: hidden;
}
.audio_player:hover .audio_player_image {
    width: 6rem;
    height: 6rem;
}

#audio_player_image_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0.4rem, -0.4rem);

    background-color: red;
    border: 1px solid black;

    width: 0.8rem;
    height: 0.8rem;
}
#audio_player_image_needle {
    transform: rotate(8deg);
    position: absolute;
    width: 4.0rem;
    height: 4.1rem;
    top: -3%;
    left: 49%;
}

.audio_player_title {
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 2rem;

    margin: 1rem;

    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-all;
}

.audio_player_controller {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 50%;
    width: 60%;

    margin: 0.5rem;

    opacity: 0;
    transition: opacity 0.5s;
}
.audio_player_controller > * {
    margin: 0.5rem;
}
.audio_player:hover .audio_player_controller {
    display: flex;
    opacity: 1;
}

.circle {
    border-radius: 50%;
}

.spin {
    animation: spin 10s linear infinite;
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.pixel_border {
    border: 0;
    box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36;
}

 @media (max-width: 767px) {
    .audio_player {
        width: 4rem;
        height: 4rem;
        flex-direction: row;

        background-color: red;
        transition: width 0.5s;
    }
    .audio_player:hover {
        height: 4rem;
        width: 8rem;
    }

    .audio_player_image_and_title {
        justify-content: center;
    }
    .audio_player:hover .audio_player_image_and_title {
        flex-direction: row;
        justify-content: center;
    }

    .audio_player_lp {
        background-color: silver;
    }

    .audio_player_image {
        margin: 0.1rem;
    
        display: flex;
    
        width: 3rem;
        height: 3rem;
    
        overflow: hidden;
    }
    .audio_player:hover .audio_player_image {
        width: 3rem;
        height: 3rem;

    }

    #audio_player_image_center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-0.4rem, -0.4rem);
    
        background-color: black;
        border: 1px solid silver;
    
        width: 0.8rem;
        height: 0.8rem;
    }

    #audio_player_image_needle {
        transform: rotate(20deg);
        position: absolute;
        width: 3rem;
        height: 3rem;
        top: 0.1%;
        left: 20%;
    }

    .audio_player_title {
        display: none;
        opacity: 0;
        font-size: 1.5rem;
    }
    .audio_player:hover .audio_player_title {
        display: flex;
        opacity: 1;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        width: 50%;
    }
    
    .audio_player:hover .audio_player_controller {
        display: none;
        opacity: 0;
    }

    .player:hover .player_info_text {
        display: flex;
        opacity: 1;
        margin: auto;
    }

    .player:hover #player_info_image {
        width: 60px;
        height: 60px;
    }

    .player:hover #player_info_center {
        width: 10px;
        height: 10px;
    }

    .player_info {
        flex-direction: column;
        margin: 5px;
    }

    .player:hover .player_info {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .player_controller, .player_controller * {
        display: none;
    }

    #player_info_center {
        width: 5px;
        height: 5px;
        background-color: black;
        border-radius: 50%;
        position: relative;
        left: 2.3%;
        top: 2.3%;
    }

    .player_info_text {
        display: none;
        opacity: 0;
        transition: opacity 0.5s;
    }

    #player_info_image {
        position: relative;

        width: 50px;
        height: 50px;

        border: 2px solid silver;
        box-shadow: none;
        border-radius: 50%;
    }

}